.nav {
  /* flex box layout */
  display: flex;
  /* justify-content: space-between;  */
  /* align-items: center; */
padding: 10px;

  /* margin: 0 0 30px; */
  background-image: linear-gradient(black, white);
  overflow: hidden;
 
 
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #fcfcfc;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  margin-left: 25px;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */

}

.navLink:hover {
  background-color: #030303;
}

.logout{
  position: absolute;
  bottom: 91.5%;
  left: 80%;
  width: 100px;
  color: #030303;
  

}


